@import "../../ui/src/styles/globals.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  background-color: #101417;
  color: #fbfffa;
  font-family: 'Pretendard', sans-serif;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1e5056;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ffc2;
}
