node_modules/
dist/
.env
.env.local
*.local
packages/extension/dist/
packages/dashboard/dist/
packages/extension/tsconfig.tsbuildinfo  # 빌드 테스트 파일 무시
packages/dashboard/tsconfig.tsbuildinfo  # 빌드 테스트 파일 무시    